header{
    background-color: #6e5631;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
    text-shadow: #000000 1px 1px;
    text-transform: uppercase;
    box-shadow: #574242 0px 1px;
}