<section class="box__form">

        
    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="formulario">
        <div class="gender__box">
            <h3 class="pt-4">Selecione o gênero</h3>
            <div class="form-check" ngClass="aplicaCssErro('gender')">
                <label class="form-check-label" for="gender">
                    <div id="gender" class="row">
                        <div *ngFor="let item of listaGender">
                            <label for="{{item.valor}}" class="radio-inline">
                                <input class="form-check-input" [value]="item.valor" type="radio" id="{{item.valor}}" name="gender" ngModel>
                                {{item.nome}}
                            </label>
                        </div>                        
                    </div>
                </label>
            </div>
        </div>
        
        <div class="country__box" >
            <h3 class="pt-3">Selecione o país:</h3>
            <div *ngFor="let item of listaPaises" class="p-1">
                <input type="checkbox" id="{{item.valor}}" [value]="item.valor"
                 name={{item.valor}} ngModel (change)="onCheckBoxChange($event)">
                <label for="{{item.valor}}">{{item.nome}}</label>
            </div>
        </div>

        <button type="submit" class="btn">Pesquisar</button>

    </form>       
</section>

<section>
    <h3></h3>
</section>

